<p routerLink="['/routePath']" routerLinkActive="router-link-active" style="cursor: pointer;">
  test works!
  <app-header></app-header>

</p>
<!-- Favorite Color: <input type="text" [formControl]="favoriteColorControl"> -->
<table>


  <tr>
    <td>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label>
          First Name:
        </label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>

        <table>
    <td>
      <label>
        Last Name:
      </label>
      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
    </td>
  <tr>
    <td>
      <button type="submit">Submit</button>
    </td>
  </tr>
</table>

</form>
</td>
<td>

</td>
</tr>
<!-- <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label> -->



</table>